<!DOCTYPE HTML>
<html>
<head>
    <style>
        input[type="number"] {
           width:50px;
        },
        .show-inline p,.show-inline input,.show-inline h4{
          display:inline-block;
        }
    </style>
    <title>Bets</title>
    <div th:replace="fragments/header.html :: myheader"></div>
</head>
<body>

<form action="#" th:action="@{/try/doRegisterBets}" th:object="${bets}" method="post">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>
                Gruppe A
            </th>
            <th>
                Gruppe B
            </th>
            <th>
                Gruppe C
            </th>
            <th>
                Gruppe D
            </th>
            <th>
                Gruppe E
            </th>
            <th>
                Gruppe F
            </th>
            <th>
                Gruppe G
            </th>
            <th>
                Gruppe H
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <div class="show-inline">
                    <p>Team 1 <input th:field="*{bets[0].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[0].awayScore}" class="form-control" type="number" min="0"/> Team 2</p>
                </div>
                    Joker <input th:field="*{bets[0].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 5 <input th:field="*{bets[1].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[1].awayScore}" class="form-control" type="number" min="0"/> Team 6 </p>
                </div>
                    Joker <input th:field="*{bets[1].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 9 <input th:field="*{bets[2].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[2].awayScore}" class="form-control" type="number" min="0"/> Team 10 </p>
                </div>
                    Joker <input th:field="*{bets[2].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 13 <input th:field="*{bets[3].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[3].awayScore}" class="form-control" type="number" min="0"/> Team 14 </p>
                </div>
                    Joker <input th:field="*{bets[3].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 17 <input th:field="*{bets[4].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[4].awayScore}" class="form-control" type="number" min="0"/> Team 18 </p>
                </div>
                    Joker <input th:field="*{bets[4].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 21 <input th:field="*{bets[5].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[5].awayScore}" class="form-control" type="number" min="0"/> Team 22 </p>
                </div>
                    Joker <input th:field="*{bets[5].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 25 <input th:field="*{bets[6].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[6].awayScore}" class="form-control" type="number" min="0"/> Team 26 </p>
                </div>
                    Joker <input th:field="*{bets[6].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 29 <input th:field="*{bets[7].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[7].awayScore}" class="form-control" type="number" min="0"/> Team 30 </p>
                </div>
                    Joker <input th:field="*{bets[7].joker}" class="form-check-input" type="checkbox" value="">
            </th>
        </tr>
        <tr>
            <th>
                <div class="show-inline">
                    <p>Team 3 <input th:field="*{bets[8].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[8].awayScore}" class="form-control" type="number" min="0"/> Team 4 </p>
                </div>
                    Joker <input th:field="*{bets[8].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 7 <input th:field="*{bets[9].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[9].awayScore}" class="form-control" type="number" min="0"/> Team 8 </p>
                </div>
                    Joker <input th:field="*{bets[9].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 11 <input th:field="*{bets[10].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[10].awayScore}" class="form-control" type="number" min="0"/> Team 12 </p>
                </div>
                    Joker <input th:field="*{bets[10].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 15 <input th:field="*{bets[11].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[11].awayScore}" class="form-control" type="number" min="0"/> Team 16 </p>
                </div>
                    Joker <input th:field="*{bets[11].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 19 <input th:field="*{bets[12].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[12].awayScore}" class="form-control" type="number" min="0"/> Team 20 </p>
                </div>
                    Joker <input th:field="*{bets[12].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 23 <input th:field="*{bets[13].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[13].awayScore}" class="form-control" type="number" min="0"/> Team 24 </p>
                </div>
                    Joker <input th:field="*{bets[13].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 27 <input th:field="*{bets[14].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[14].awayScore}" class="form-control" type="number" min="0"/> Team 28 </p>
                </div>
                    Joker <input th:field="*{bets[14].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 31 <input th:field="*{bets[15].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[15].awayScore}" class="form-control" type="number" min="0"/> Team 32 </p>
                </div>
                    Joker <input th:field="*{bets[15].joker}" class="form-check-input" type="checkbox" value="">
            </th>
        </tr>
        <tr>
            <th>
                <div class="show-inline">
                    <p>Team 1 <input th:field="*{bets[16].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[16].awayScore}" class="form-control" type="number" min="0"/> Team 3 </p>
                </div>
                    Joker <input th:field="*{bets[16].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 5 <input th:field="*{bets[17].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[17].awayScore}" class="form-control" type="number" min="0"/> Team 7 </p>
                </div>
                    Joker <input th:field="*{bets[17].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 9 <input th:field="*{bets[18].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[18].awayScore}" class="form-control" type="number" min="0"/> Team 11 </p>
                </div>
                    Joker <input th:field="*{bets[18].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 13 <input th:field="*{bets[19].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[19].awayScore}" class="form-control" type="number" min="0"/> Team 15 </p>
                </div>
                    Joker <input th:field="*{bets[19].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 17 <input th:field="*{bets[20].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[20].awayScore}" class="form-control" type="number" min="0"/> Team 19 </p>
                </div>
                    Joker <input th:field="*{bets[20].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 21 <input th:field="*{bets[21].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[21].awayScore}" class="form-control" type="number" min="0"/> Team 23 </p>
                </div>
                    Joker <input th:field="*{bets[21].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 25 <input th:field="*{bets[22].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[22].awayScore}" class="form-control" type="number" min="0"/> Team 27 </p>
                </div>
                    Joker <input th:field="*{bets[22].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 29 <input th:field="*{bets[23].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[23].awayScore}" class="form-control" type="number" min="0"/> Team 31 </p>
                </div>
                    Joker <input th:field="*{bets[23].joker}" class="form-check-input" type="checkbox" value="">
            </th>
        </tr>
        <tr>
            <th>
                <div class="show-inline">
                    <p>Team 4 <input th:field="*{bets[24].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[24].awayScore}" class="form-control" type="number" min="0"/> Team 2 </p>
                </div>
                    Joker <input th:field="*{bets[24].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 8 <input th:field="*{bets[25].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[25].awayScore}" class="form-control" type="number" min="0"/> Team 6 </p>
                </div>
                    Joker <input th:field="*{bets[25].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 12 <input th:field="*{bets[26].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[26].awayScore}" class="form-control" type="number" min="0"/> Team 10 </p>
                </div>
                    Joker <input th:field="*{bets[26].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 16 <input th:field="*{bets[27].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[27].awayScore}" class="form-control" type="number" min="0"/> Team 14 </p>
                </div>
                    Joker <input th:field="*{bets[27].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 20 <input th:field="*{bets[28].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[28].awayScore}" class="form-control" type="number" min="0"/> Team 18 </p>
                </div>
                    Joker <input th:field="*{bets[28].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 24 <input th:field="*{bets[29].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[29].awayScore}" class="form-control" type="number" min="0"/> Team 22 </p>
                </div>
                    Joker <input th:field="*{bets[29].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 28 <input th:field="*{bets[30].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[30].awayScore}" class="form-control" type="number" min="0"/> Team 26 </p>
                </div>
                    Joker <input th:field="*{bets[30].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 32 <input th:field="*{bets[31].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[31].awayScore}" class="form-control" type="number" min="0"/> Team 30 </p>
                </div>
                    Joker <input th:field="*{bets[31].joker}" class="form-check-input" type="checkbox" value="">
            </th>
        </tr>
        <tr>
            <th>
                <div class="show-inline">
                    <p>Team 4 <input th:field="*{bets[32].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[32].awayScore}" class="form-control" type="number" min="0"/> Team 1 </p>
                </div>
                    Joker <input th:field="*{bets[32].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 8 <input th:field="*{bets[33].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[33].awayScore}" class="form-control" type="number" min="0"/> Team 5 </p>
                </div>
                    Joker <input th:field="*{bets[33].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 12 <input th:field="*{bets[34].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[34].awayScore}" class="form-control" type="number" min="0"/> Team 9 </p>
                </div>
                    Joker <input th:field="*{bets[34].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 16 <input th:field="*{bets[35].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[35].awayScore}" class="form-control" type="number" min="0"/> Team 13 </p>
                </div>
                    Joker <input th:field="*{bets[35].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 20 <input th:field="*{bets[36].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[36].awayScore}" class="form-control" type="number" min="0"/> Team 17 </p>
                </div>
                    Joker <input th:field="*{bets[36].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 24 <input th:field="*{bets[37].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[37].awayScore}" class="form-control" type="number" min="0"/> Team 21 </p>
                </div>
                    Joker <input th:field="*{bets[37].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 28 <input th:field="*{bets[38].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[38].awayScore}" class="form-control" type="number" min="0"/> Team 25 </p>
                </div>
                    Joker <input th:field="*{bets[38].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 32 <input th:field="*{bets[39].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[39].awayScore}" class="form-control" type="number" min="0"/> Team 29 </p>
                </div>
                    Joker <input th:field="*{bets[39].joker}" class="form-check-input" type="checkbox" value="">
            </th>
        </tr>
        <tr>
            <th>
                <div class="show-inline">
                    <p>Team 2 <input th:field="*{bets[40].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[40].awayScore}" class="form-control" type="number" min="0"/> Team 3 </p>
                </div>
                    Joker <input th:field="*{bets[40].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 6 <input th:field="*{bets[41].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[41].awayScore}" class="form-control" type="number" min="0"/> Team 7 </p>
                </div>
                    Joker <input th:field="*{bets[41].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 10 <input th:field="*{bets[42].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[42].awayScore}" class="form-control" type="number" min="0"/> Team 11 </p>
                </div>
                    Joker <input th:field="*{bets[42].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 14 <input th:field="*{bets[43].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[43].awayScore}" class="form-control" type="number" min="0"/> Team 15 </p>
                </div>
                    Joker <input th:field="*{bets[43].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 18 <input th:field="*{bets[44].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[44].awayScore}" class="form-control" type="number" min="0"/> Team 19 </p>
                </div>
                    Joker <input th:field="*{bets[44].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 22 <input th:field="*{bets[45].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[45].awayScore}" class="form-control" type="number" min="0"/> Team 23 </p>
                </div>
                    Joker <input th:field="*{bets[45].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 26 <input th:field="*{bets[46].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[46].awayScore}" class="form-control" type="number" min="0"/> Team 27 </p>
                </div>
                    Joker <input th:field="*{bets[46].joker}" class="form-check-input" type="checkbox" value="">
            </th>
            <th>
                <div class="show-inline">
                    <p>Team 30 <input th:field="*{bets[47].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[47].awayScore}" class="form-control" type="number" min="0"/> Team 31 </p>
                </div>
                    Joker <input th:field="*{bets[47].joker}" class="form-check-input" type="checkbox" value="">
            </th>
        </tr>
        </tbody>
    </table>

    <h2>Achtelfinale</h2>

    <table class="table table-bordered">
        <tr>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[48].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                        <input th:field="*{bets[48].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[48].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[48].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[49].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[49].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[49].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[49].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[50].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[50].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[50].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[50].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[51].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[51].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[51].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[51].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[52].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[52].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[52].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[52].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[53].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[53].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[53].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[53].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[54].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[54].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[54].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[54].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[55].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[55].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[55].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[55].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
        </tr>
    </table>

    <h2>Viertelfinale</h2>

    <table class="table table-bordered">
        <tr>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[56].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[56].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[56].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[56].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[57].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[57].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[57].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[57].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[58].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[58].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[58].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[58].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[59].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[59].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[59].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[59].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
        </tr>
    </table>

    <h2>Halbfinale</h2>

    <table class="table table-bordered">
        <tr>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[60].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[60].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[60].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[60].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[61].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[61].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[61].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[61].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
        </tr>
    </table>

    <h2>Finale</h2>

    <table class="table table-bordered">
        <tr>
            <th>
                <div class="show-inline">
                    <select th:field="*{bets[62].homeTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                    <input th:field="*{bets[62].homeScore}" class="form-control" type="number" min="0"/> - <input th:field="*{bets[62].awayScore}" class="form-control" type="number" min="0"/>
                    <select th:field="*{bets[62].awayTeam.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
        </tr>
    </table>

    <h2>Champion</h2>

    <table class="table table-bordered">
        <tr>
            <th>
                <div class="show-inline">
                    <select th:field="*{champion.abbreviation}">
                        <option th:each="team : ${teams}" th:value="${team.abbreviation}" th:text="${team.name}"></option>
                    </select>
                </div>
            </th>
        </tr>
    </table>

    <h2>Torschützenkönig</h2>

    <table class="table table-bordered">
        <tr>
            <th>
                <div class="show-inline">
                    <select th:field="*{goalKing.name}">
                        <option th:each="player : ${players}" th:value="${player.name}" th:text="${player.name}"></option>
                    </select>
                </div>
            </th>
        </tr>
    </table>

    <input class="btn btn-primary" type="submit" value="Submit" />
</form>


<div th:insert="fragments/footer.html :: foot"></div>
</body>
</html>